.bottom{
    margin-left:700px;
    margin-bottom: 120px;
    margin-top:-400px;
    font-size: larger;
    color:rgb(233, 231, 229);
    font-weight:inherit;
    display: inline-block;
    height: 80px;
    width: 637px
}






















